h1 {
    font-family: monospace;
    font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 10px;

}

body {
    background-image: linear-gradient(to left, rgb(160, 217, 250), rgb(248, 172, 229));
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    border-radius: 5px;
    padding: 1%;
    background: rgba(255, 255, 255, 0.4);
}

table {
    padding: 5px;
}


#calculadora button:hover {
    background-color: plum;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* sombra al pasar el cursor */
}

#igual {
    background-color: rgb(98, 108, 247);
    color: #F5F5F5;

}

#clear {
    background-color: rgb(98, 108, 247);
    color: white;
}

button {
    font-weight: bold;
}

#calculadora button,
#calculadora input {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 10px
}

#calculadora input {
    color: black;
}

#resultado {
    width: 100%;
    box-sizing: border-box;
}

.operacion {
    color: white;
    background-color: blueviolet;
}

footer {

  text-align: center;
  font-size: smaller
}